.variantBox1,
.variantBox2,
.variantBox3,
.variantBox4,
.variantButton1,
.variantButton2,
.variantButton3,
.variantButton4 {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}
.variantBox1 {
  background-color: #fcba03;
}
.variantBox2 {
  background-color: #fc2803;
}
.variantBox3 {
  background-color: #03d7fc;
}
.variantBox4 {
  background-color: #fc03ad;
}
.variantButton1,
.variantButton2,
.variantButton3,
.variantButton4 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: "black";
  font-weight: 700;
  border: 1px solid gray;
  cursor: pointer;
}

.variantBoxContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: "white";
}

/* images styles */
.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.image {
  margin: 1rem 0.5rem;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
